<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZCG-GAME-STORE</title>

    <!-- links externo -->


        <!-- Link CSS Bootstrap via CDN -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">


        <!-- Link CSS Bootstrap via CDN -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">


        <!-- Link JS Bootstrap via CDN -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" defer></script>


    <!-- links interno -->


        <!-- CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style-pagina_apresentacao.css') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='styles/style-cores_das_paginas.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='styles/style-fonts_das_paginas.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='styles/media.css')}}">

</head>
<body>
   
<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">


    <div class="container-fluid">


        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-list"></i></button>


            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item active" href="/"><i class="bi bi-house-door-fill"></i></a></li>
                <li><a class="dropdown-item" href="/categoria-jogos"><i class="bi bi-bookmark"></i></a></li>
                <li><a class="dropdown-item" href="/apresentacao"><i class="bi bi-question-circle"></i></a></li>
            </ul>
           
        </div>


        <img src="" alt="">
        <a class="navbar-brand" href="/">ZCG Game Store</a>
        <form class="d-flex" role="search" action="/buscar_jogos" method="GET">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q" />
            <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
        </form>


        <a href="/carrinho"><i class="bi bi-cart-plus"></i></a>


        <div class="btn-group dropstart">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-circle"></i></button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/perfil-usuario">My Accont</a></li>
                <li><a class="dropdown-item" href="/login">Login/Register</a></li>
                <li><a class="dropdown-item" href="/get/logout">Logout</a></li>
            </ul>
        </div>


    </div>

</nav>

<main class="main">

    <h1>Nossos desenvolvedores:</h1>

    <section class="main__apresentacao">

        <form class="main__apresentacao-devs">

            <div class="main__apresentacao-devs-container">

                <img src="https://cdn.discordapp.com/attachments/887827313750851616/1384308490977149109/image.png?ex=68529dff&is=68514c7f&hm=bcda8df1ef7bf2e6c98fe38f3249d491630caaa931912e6931bcbe58ca1ce383&" alt="">

                <div>
                    
                    <span>Adrian</span>

                    <p>O cara das listas...</p>

                </div>

            </div>

            <div class="main__apresentacao-devs-container">

                <img src="https://cdn.discordapp.com/attachments/887827313750851616/1384308598057861220/image.png?ex=68529e18&is=68514c98&hm=023c87ad576eb1dbb151e70d8bbfccd27d5d2f954f5e14d3d80f8c474036678e&" alt="">

                <div>
                    
                    <span>Cristiano</span>

                    <p>O cara do HTML e CSS...</p>

                </div>

            </div>

            <div class="main__apresentacao-devs-container">

                <img src="https://cdn.discordapp.com/attachments/1203830954515501107/1384496749023858860/IMG_20250617_083435.jpg?ex=6852a493&is=68515313&hm=92bfc10c9d0593466e6389b85d9d53360d1dfce1ca0de95217af2f928e3d7ee4&" alt="">

                <div>
                    
                    <span>Victor</span>

                    <p>O cara do Back-End...</p>

                </div>

            </div>

        </form>


        <form class="main__apresentacao-discurso">

            <h2>Quem somos nós ?</h2>

            <div class="main__apresentacao-discurso-container">

                <p>Nós somos os desenvolvedores deste site de vendas de jogos.

                    Percebemos que os preços dos jogos no mercado estão altos demais, então pensamos: por que não criar nosso próprio site, sempre pensando no bolso do cliente?<br><br>
                    
                    Aqui estamos para salvar você!<br><br>
                    
                    Você, mero CLT que trabalha 12 horas por dia para ganhar um salário mínimo, mas sonha em lotar sua biblioteca com os jogos da atualidade. <br><br>
                    
                    Estamos à sua disposição! <br><br>
                    
                    Se tiver qualquer dúvida ou reclamação, entre em contato com nossa equipe pelo e-mail: zcggames@gmail.com</p>

            </div>

        </form>

    </section>
   
</main>

<footer class="footer">
       
    <span>@ ZCG GAME STORE 2025. Muitos direitos Reservados</span>


    <form class="footer__social">


        <a href="https://www.facebook.com/?locale=pt_BR"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
        <a href="https://br.linkedin.com/"><i class="bi bi-linkedin"></i></a>
        <a href="https://x.com/"><i class="bi bi-twitter-x"></i></a>


    </form>


</footer>

</body>
</html>