*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-color: var(--preto);
    color: var(--branco);

    overflow-x: hidden;
}

/* Formatando todos os botões para um padrão */
button
{
    width: 50px;
    height: 40px;

    cursor: pointer;
}

/* Tirando formatações */
li
{
    list-style-type: none;
    list-style: none;
}

/* Formatando todos 'a' */
a
{
    color: var(--branco);
    text-decoration: none;
}

/* Campo de busca */
.navbar input
{
    background-color: var(--cinza_escuro);
    color: var(--branco);
    border: 1px solid var(--cinza_claro);
}

.navbar .btn-outline-success
{
    color: var(--branco);
    border-color: var(--verde_claro);
}

.navbar .btn-outline-success:hover
{
    background-color: var(--verde_claro);
    color: var(--branco);
}

/* Dropdown */
.dropdown-menu
{
    text-align: center;

    background-color: var(--cinza_escuro);
}

.dropdown-menu a
{
    color: var(--branco);
}

.dropdown-menu a:hover
{
    background-color: var(--cinza_claro);
}

.main
{
    width: 100%;
    height: 100%;
    min-height: 200vh;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main__produto
{
    width: 100%;
    height: 50%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.main__produto iframe
{
    width: 600px;
    height: 400px;

    margin: 20px;

    background-color: var(--cinza_escuro);
    border: 1px solid var(--cinza_claro);
    border-radius: 10px;
}

.main__produto-detalhes
{
    width: 700px;
    height: 100%;

    margin: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

}

.main__produto-detalhes-nome
{
    width: 600px;
    height: 30%;

    padding: 20px;

    text-align: center;

    background-color: var(--cinza_escuro);
    border: 1px solid var(--cinza_claro);
    border-radius: 10px;
}

.main__produto-detalhes-descricao
{
    width: 600px;
    height: 60%;

    padding: 20px;

    text-align: center;

    background-color: var(--cinza_escuro);
    border: 1px solid var(--cinza_claro);
    border-radius: 10px;
}

.main__produto-compra
{
    width: 400px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__produto-compra button
{
    width: 200px;
    height: 100px;

    margin: 20px;

    text-align: center;

    border-radius: 10px;
}

.main__produto-compra button
{
    color: var(--branco);
    background-color: transparent;
    border: 1px solid var(--verde_claro);

    transition: 0.5s;
}

.main__produto-compra button:hover
{
    color: var(--preto);
    background-color: var(--verde_claro);
    border: 1px solid var(--branco);

    scale: 1.1;
}

.main__comentario
{
    width: 100%;
    height: 50%;

    margin-top: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.main__comentario-container,
.main__chat-container
{
    width: 800px;
    height: 400px;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--cinza_escuro);
    border: 1px solid var(--cinza_claro);
    border-radius: 10px;
}

.main__comentario-container-input
{
    width: 100%;
    height: 100%;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.main__comentario-container-input textarea
{
    width: 50%;
    height: 80px;

    min-height: 40px;

    padding: 20px;

    border: 1px solid var(--cinza_claro);
    border-radius: 10px;
}

.main__comentario-container-button
{
    width: 100%;
    height: 30%;

    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.main__comentario-container-button-publicar
{
    width: 200px;
    height: 60px;

    border: 1px solid var(--cinza_claro);
    border-radius: 10px;
}

.main__comentario-container-button-publicar
{
    color: var(--branco);
    background-color: transparent;
    border: 1px solid var(--verde_claro);

    transition: 0.5s;
}

.main__comentario-container-button-publicar:hover
{
    color: var(--preto);
    background-color: var(--verde_claro);
    border: 1px solid var(--branco);

    scale: 1.1;
}

.main__chat-container
{
    justify-content: start;

    overflow-y: scroll;
    overflow-x: hidden;
}

.main__chat-container-usuario {
    width: 90%;
    min-height: 60px;

    margin-top: 20px;
    padding: 10px;

    display: flex;
    align-items: center;
    gap: 15px;

    background-color: var(--cinza_escuro);
    border: 1px solid var(--roxo);
    border-radius: 10px 10px 0 0;
}

.main__chat-container-usuario img {
    width: 50px;
    height: 50px;
    object-fit: cover;

    border-radius: 50%;
    border: 2px solid var(--verde_claro);
}

.main__chat-container-usuario span {
    font-weight: bold;
    font-size: 16px;
    color: var(--branco);
}



.main__container-chat-comentario {
    width: 90%;
    padding: 15px;
    min-height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--cinza_escuro);
    color: var(--branco);
    border: 1px solid var(--roxo);
    border-radius: 0 0 10px 10px;
}



.footer
{
    width: 100%;
    height: 50px;

    margin-top: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: #212529;
    border: 1px solid var(--cinza_claro);
    border-left: 0;
    border-right: 0;
}

.footer span
{
    color: var(--branco);
}

.footer__social
{
    width: 200px;

    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer__social a
{
    font-size: 20px;
}