/* Notbook */
@media (max-width: 1300px)
{
    /* Inicial */

        /* Container dos Cards */
            .main__games-jogos
                {
                    width: 400px;

                    flex-direction: column;
                }
}

/* Tablet */
@media (max-width: 1000px) 
{
    /* Pagina Inicial */

        /* Carrossel */
            .main__games-carousel
            {
                width: 500px;
                height: 450px;
            }

            .main__games-carousel-container
            {
                width: 90%;
                height: 640px;

                flex-direction: column;
            }

            .main__games-carousel-item
            {
                width: 400px;
            }

            .cell
            {
                display: none;
            }

        /* Container dos cards */
            .main__games-jogos
            {
                width: 400px;

                flex-direction: column;
            }

            .main__games-jogos-01
            {
                width: 90%;
            }

            .main__games-jogos-02
            {
                width: 90%;
        
            }

    /* Busca */

        /* Main */
            .main__card
            {
                display: flex;
                flex-direction: column;
            }
    
}

/* Celular */
@media (max-width: 630px)
{
    /* Pagina Inicial */

        /* Header */
            .navbar-brand
            {
                display: none;
            }

            .d-flex input
            {
                width: 150px;
            }

        /* Carrossel */
            .main__games-carousel
            {
                width: 350px;
                height: 450px;

                text-align: center;
            }

            .main__games-carousel-container
            {
                width: 90%;
                height: 640px;

                flex-direction: column;
            }

            .main__games-carousel-item
            {
                width: 300px;
            }

        /* Jogos Padrão */

            .main__games
            {
                flex-direction: column;
            }
}