/* Formatando Tudo */
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-color: var(--preto);
    color: var(--branco);
}

/* Formatando todos os botões para um padrão */
button
{
    width: 50px;
    height: 40px;

    cursor: pointer;
}

/* Tirando formatações */
li
{
    list-style-type: none;
    list-style: none;
}

/* Formatando todos 'a' */
a
{
    color: var(--branco);
    text-decoration: none;
}


.main
{
    width: 600px;
    height: 600px;

    margin: 150px auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--cinza_escuro);
    border: 1px solid var(--cinza_claro);
    border-radius: 10px;
}

.main__cadastro-login
{
    width: 500px;
    height: 550px;

    margin:auto;

    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 20px;
}


.main__cadastro-login-container
{
    width: 300px;
    height: 200px;

    margin-top: 20px;

    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;

    border: 1px solid var(--cinza_claro);
    border-radius: 10px;
}

.main__form-cadastro
{
    width: 400px;
    height:400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    border: 1px solid var(--cinza_claro);
    border-radius: 10px;
}

.main__form-cadastro input,
.main__form-cadastro button
{
    width: 200px;
    height: 40px;

    text-align: center;

    border: 1px solid var(--cinza_claro);
    border-radius: 10px;

    transition: 0.5s;
}

.main__form-cadastro button
{
    color: var(--branco);
    background-color: transparent;
    border: 1px solid var(--verde_claro);
}

.main__form-cadastro button:hover
{
    color: var(--preto);
    background-color: var(--verde_claro);
    border: 1px solid var(--branco);
}

.main__form-cadastro a
{
 all: revert;
}

.footer
{
    width: 100%;
    height: 50px;

    margin-top: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: #212529;
    border: 1px solid var(--cinza_claro);
    border-left: 0;
    border-right: 0;
}

.footer span    
{
    color: var(--branco);
}

.footer__social
{
    width: 200px;

    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer__social a
{
    font-size: 20px;
}