*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Corpo geral */
body 
{
    overflow-x: hidden;

    background-color: var(--preto);
    color: var(--branco);
}


/* Formatando todos os botões para um padrão */
button
{
    width: 50px;
    height: 40px;

    cursor: pointer;
}

/* Tirando formatações */
li
{
    list-style-type: none;
    list-style: none;
}

/* Formatando todos 'a' */
a
{
    color: var(--branco);
    text-decoration: none;
}

/* Campo de busca */
.navbar input
{
    background-color: var(--cinza_escuro);
    color: var(--branco);
    border: 1px solid var(--cinza_claro);
}

.navbar .btn-outline-success
{
    color: var(--branco);
    border-color: var(--verde_claro);
}

.navbar .btn-outline-success:hover
{
    background-color: var(--verde_claro);
    color: var(--branco);
}

/* Dropdown */
.dropdown-menu
{
    text-align: center;

    background-color: var(--cinza_escuro);
}

.dropdown-menu a
{
    color: var(--branco);
}

.dropdown-menu a:hover
{
    background-color: var(--cinza_claro);
}

main
{
    width: 100%;
    height: 100%;
}

.col-auto a
{
    font-size: 16px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid var(--azul_claro);
    border-radius: 10px;
    transition: 0.5s
}

.col-auto a:hover
{
    font-size: 20px;

    color: var(--preto);
    background-color: var(--azul_claro);
    border: 1px solid var(--branco);
}

.main__games
{
    width: 100%;
    height: 100%;

    margin: 20px auto;

    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 16px;
    padding: 16px;

    
    border: 1px solid var(--preto);
    border-radius: 10px;
}

/* Cards de jogos */
.card
{
    width: 300px;
    height: 500px;

    padding: 0;

    margin: 10px;

    color: var(--branco);

    background-color: var(--cinza_escuro);
    border: 1px solid var(--roxo);
    border-radius: 12px;

    transition: 0.5s;
}

.card:hover
{
    scale: 1.1; 
}

.card img
{
    width: 100%;
    height: 30%;

    border-radius: 12px 12px 0 0;
    border-top: 15px;
}

.container-sobre-jogo
{
    width: 100%;
    height: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.container-sobre-jogo a
{
    width: 100px;
    height: 50px;

    margin-top: 20px;
 
    padding: 10px;

    color: var(--branco);

    background-color: var(--cinza_escuro);
    border: 1px solid var(--verde_claro);
    border-radius: 10px;
}

.container-sobre-jogo a:hover
{
    color: var(--preto);
    background-color: var(--verde_claro);
    border: 1px solid var(--branco);
}


.footer
{
    width: 100%;
    height: 50px;

    margin-top: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: var(--cinza_claro);
    border: 1px solid var(--preto);
    border-left: 0;
    border-right: 0;
}

.footer span
{
    color: var(--branco);
}

.footer__social
{
    width: 200px;

    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer__social a
{
    font-size: 20px;
}